<form method= "POST" action="/upload" enctype="multipart/form-data">
    <select name="loja_select">
        <option value="{{ lojas.loja1 }}">{{ lojas.loja1 }}</option>
        <option value="{{ lojas.loja2 }}">{{ lojas.loja2 }}</option>
        <option value="{{ lojas.loja3 }}">{{ lojas.loja3 }}</option>
    </select>
    <select name="spot_select">
        <option value="{{ spots.spot1 }}">{{ spots.spot1 }}</option>
        <option value="{{ spots.spot2 }}">{{ spots.spot2 }}</option>
        <option value="{{ spots.spot3 }}">{{ spots.spot3 }}</option>
    </select>
    <input type="file" name="file">
    <input type="submit">
    </form>